/* 全局样式表 */
html,
body,
#app {
    margin:0;
    padding:0;
    box-sizing: border-box;
    height: 100%;
}


.el-button:hover{
    transform: scale(110%,110%);
    box-shadow: 3px 5px 5px #8f929a;
}
.el-form-item:hover{
    transform: scale(110%,110%);
}
/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    height: 100%;
} */
